body {
  font-family: "jost", sans-serif;
  margin: 0px;
  height: 100vh;
  overflow: hidden;
  white-space: nowrap;
}

h1 {
  font-size: 35px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../src/assets/newyorkbg.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(50%); /* Darken the background */
  z-index: -1;
}

p {
  font-family: "Playwrite AU NSW", cursive;
  font-size: 20px;
  text-align: center;
  overflow-wrap: break-word;
  padding: 20px ;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70vh;
  flex-direction: column;
  position: relative;
  z-index: 2; /* Place the container content above the background */
  color: white;
  text-align: center;
}

.quote-btn {
  display: flex; 
  justify-content: center;
  font-size: 15px;
  padding: 10px;
  border: solid 1px black;
  border-radius: 50px;
  background-color: green;
  color: white;
  position: static;
  
}

.quote-btn:hover {
  filter: brightness(50%);
}

footer {
  color: white;
  font-size: 20px;
  padding: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2;
}